
div, p, li, ul {
    margin: 0;
    padding: 0;
}

button > a {
    font-style: inherit;
    color: inherit;
    text-decoration: inherit;
}

html {
    background: none;
}

body {
    font-family: Arial;
    background: none;
    background-color: #f4f3f3;
}

.mainContainer {
    margin-left: 5em;
    margin-right: 5em;
}

.header {
    color: white;
    background-color: black;
    height: 6em;
}

.headerMain {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 2.3em;
    width: 38%;
    height: 100%;

}

.headerMain > div {
    padding-left: 1em;
    width: 100%;
    height: 100%;
    display: table;
}

.headerMain p {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.headerC {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 100%;
}

.header-links {
    display: block;
    height: 30%;
    float: right;
    min-width: 420px;
    font-size: 10px;
    font-weight: bold;
}

.header-links a {
    text-decoration: none;
    color: #aeaeae;
}

.header-links ul{
    padding:0;
    margin:0;
    margin-top: 10px;
    margin-left: 100px;
    list-style-type:none;
}

.header-links li{
    float:left;
    padding:10px;
}

.header-user-container {
    margin-right: -120px;
    display: block;
    height: 65%;
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 600px;
}

.header-user-container div {
    margin-left: 1em;
}

.header-user-container img {
    margin-right: -1em;
}

.header-user-container a {
    text-decoration: none;
    color: #757575;
}

.headerS {
    display: inline-block;
}

.headerS img {
    display: inline-block;
    width: 2em;
}
.headerS div {
    display: inline-block;
}

.header-account {
    display: inline-block;
}

.header-account img {
    display: inline-block;
    width: 2em;
}
.header-account div {
    display: inline-block;
}

.header-cart {
    display: inline-block;
}

.cardNumber {
    display: inline-block;
    vertical-align: auto;
}

.cardNumber a{
    color: white;
    font-size: 3em;
    text-decoration: none;
}

.cardNumber a:hover{
    text-decoration: none;
}

.cart-text {
    vertical-align: top;
    display: inline-block;
    margin-top: 0.5em;
}

.header-cart img {
    display: inline-block;
    width: 2em;
}

.header-cart div {
    display: inline-block;
}

.header-box-title {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: bold;
}

.header-box-text {
    color: #757575;
    font-size: 12px;
}

.category-box {
    display: inline-block;
    background-color: #ffffff;
    width: 280px;
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: top;
    font-weight: bold;
}

.category-box-title {
    background-color: black;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

.category-box-content {
    margin: 10px;
    font-size: 12px;
    font-weight: normal;
}

.category-box-content li {
    padding: 1px;
}

.category-box-content > p {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.category-box-content > ul {
    list-style: none;
    margin-top: -5px;
}

.category-box button {
    width: 150px;
    background-color: transparent;
    height: 25px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
    text-align: left;
}

.categorySelected {
    font-weight: bold;
}


.content {
    display: inline-block;
    max-width: 880px;
}

.sortBar {
    display: block;
    width: 880px;
    background-color: white;
    margin-bottom: 20px;
}

.sortBar-top {
    display: block;
    height: 35px;
}

.sortBar-top button,
.sortBar-sort > button
{
    width: 150px;
    background-color: transparent;
    height: 29px;
    border: none;
    font-size: 10px;
}

.sortBar-sort > button {
    width: 20px !important;
}

.sortBar-top-title {
    color: #e82d2d;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-left: 10px;

}

.sortBar-top-text {
    float: right;
    margin-right: 10px;
}

.sortBar-top-text button{
    max-height: 35px;
    text-transform : none;
    font-size: 13px;
}




.sortBar-separation {
    display: block;
    background-color: #c1c1c1;
    height: 1px;
    width: 100%;
}

.sortBar-bottom {
    display: block;
    height: 45px;
}

.sortBar-bottom img{
    margin-left: 10px;
}

.sortBar-controls {
    display: inline-block;
    width: 500px;
    margin-left: 300px;
    margin-top: 7px;
}

.sortBar-show {
    display: inline-block;
    margin-left: -100px;
}

.sortBar-show select,
.sortBar-sort select
{
    width: 180px;
    padding:3px;
    margin: 0;
    box-shadow: 0 0 0 0.4px #ccc, 0 -1px #fff inset;
    background:white;
    color:#666666;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 14px;
}


.sortBar-sort {
    display: inline-block;
    margin-left: 100px;
}

.sortBar-sort select {


}

.sort-reverse i {
    font-size: 1.5em;

}

.sortBar-windows {
    display: inline-block;

    margin-left: 10px;
    font-size: 25px;
}

.item {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 45px;
}


.item-img {
    width: 281px;
    height: 289px;
    box-shadow: 0 60px 25px -60px  #7f7f7f;
    text-align: center;
    z-index: 0;
    position: relative;
}

.item-img img {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    display: block;
}

.item-quick-shop-btn {
    display: block;
    margin: -60% auto;
    width: 130px;
    position: relative;
    background-color: black;
    color: white;
    z-index: 100;
}

.item-info-text {
    margin-top: 15px;
    font-size: 14px;
    /*position: absolute;*/
}

.item-info-text a {
    color: black;
    text-decoration: none;
}

.item-info-text a:hover {
    color: #0072ff;
    text-decoration: none;
}

.item-info-price {
    font-size: 15px;
    color: #e82d2d;
    margin-top: 10px;
    font-weight: bold;
}

.itcontrol {
    width: 195px;
    height: 38px;
    margin-top: 20px;
}

.itcontrol > button {
    height: 37px !important;
    width: 107px !important;
    border:none;
    font-size: 10px !important;
    font-weight: bold !important;
    /*display: inline-block;*/
    text-transform: uppercase;
    height: 100%;
    vertical-align: top;
    background-color: #e92e2e;
    color: white;
    border:none;
    box-shadow: none !important;
}

.itcontrol-icons {
    margin-left: 7px;
    margin-top: 3px;
    display: inline-block;
    width: 40px;
    height: 100%;
    vertical-align: top;
}

.itcontrol-icons > a {
    display: block;
}

.itcontrol-icons > img:first-child {
    margin-bottom: 5px;
    vertical-align: top;
}

.itcontrol-icons > img:last-child {
    margin-top: 5px;
    vertical-align: bottom;
}


.footer-title {
    font-size: 13px;
    font-weight: bold;
    color: #e92e2e;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}

.footerS-text {
    color: #727272;
    line-height: 15px;
}

.footerS-text-title {
    color: #4d4d4d;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
}


footer {
    /*text-align: center;*/
    margin-top: 60px;
    display: inline-block;
    text-align: left;
    background-color: white;
    width: 100%;
}

.footerS {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    height: 100%;
    min-height:100%;
    padding-left: 1%;
}

.footerS-content {
    font-size: 13px;
    display: block;
    text-align: left;
}

.footerS-need-help {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.footerS-content a {
    text-decoration: none;
    color: #7f7f7f;
    display: block;
    margin-bottom: 15px;
}

.bottom-images {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.bottom-images img {
    margin-top: 1px;
    max-width: 70px;
    margin-right: 5px;
    max-height: 20px;
    display: inline-block;

}



a:hover {
    text-decoration: underline;
}

.menuTop ul {
    list-style: none;
    display: inline-block;
}

.menuTop li {
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
}

.menuTop a {
    text-decoration: none;
    color: black;
}

.menuTop {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 1em;
    float: left;
}

.search {
    float: right;
}

.search input {
    width: 285px;
    height: 27px;
    font-size: 13px;
    font-weight: bold;
}

.search button {
    width: 80px;
}


.topbenner {
    background-color: white;
    width: 100%;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 1em;
    border: 1px solid #afafaf;
    clear: both;
    box-shadow: 0 3px 0 0  #c1c1c1;
}

.topbenner p {
    text-transform: uppercase;
    color: #7f7f7f;
    display: inline-block;
    margin-right:100px;
    margin-left: 10px;
}

.topbenner img {
    max-height: 20px;
    margin-right: 5px;
}

.topbenner span {
    font-size: 15px;
    color: #c1c1c1;
}

.ariane-thread {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.ariane-thread ul {
    list-style: none;
    display: inline-block;
}

.ariane-thread li {
    display: inline-block;
    margin-left: 0;
    font-size: 12px;
    font-weight: bold;
}

.ariane-thread a {
    text-decoration: none;
    color: #afafaf;
}

.innerPath {
    color: #e82d2d;
}


.itemDetail {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.itemDetail th {
    text-align: left;
    padding-left: 10px;
    background-color: #e82d2d;
    color: white;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    border: 0px;
    font-weight: bold;
    font-size: 14px;
}

.itemDetail td {
    text-align: left;
    padding-left: 10px;
    height: 110px;
    background-color: white;
    border-bottom: 1px solid #afafaf;

}

.itemDetail .table-last-line {
    border-bottom: 0px;

}

.cart-item-img {
    width: 68px;
    height: 88px;

    border-radius: 5%;

    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.cart-item-img img {
    width: 100%;
    height: 100%;
}

.cart-item-img-container {
    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 10%;
}

.cart-name-col {
    width: 60%;
}

.cart-quantity-col{
    width: 123px;
}

.cart-item-name-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 70%;
    height: 100%;
}

.cart-item-name {
    position: absolute;
    margin: 0;
    top: 40%;
    transform: translate(0, -50%);
}

.cart-item-edit-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.cart-item-edit {
    font-weight: bold;
    position: absolute;
    margin: 0;
    top: 40%;
    transform: translate(0, -50%);
    width: 80px;
    background-color: transparent;
    height: 29px;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.cart-subtotal-col,
.cart-price-col{
    font-size: 14px;
    color: #e92d2d;
    font-weight: bold;
}

.cart-item-delete {
    text-align: center;
    padding: 10px;
    width: 80px;
    background-color: transparent;
    height: 29px;
    border: none;
    color: #d04461;
    font-weight: bold;
    font-size: 14px;
    /*text-transform: uppercase !important;*/
}

.itemDetail td {
    min-width: 8%;
}

.itemDetail input {
    max-width: 50%;
}

.cart-controls {
    margin-top: 20px;
}

.cart-controls .md-button {
    height: 30px;
    font-size: 13px;
}

.cart-continue-btn {
    float: left;
    background-color: black;
    color: white;
    width: 180px;
    background-color: black;
    height: 29px;
    border: none;
    font-weight: bold;
    font-size: 13px;
}

.cart-update-btn {
    float: right;
    width: 200px;
    color: white;
    background-color: #e92e2e;
    height: 29px;
    border: none;
    font-weight: bold;
    font-size: 13px;
}

.cart-messages {
    width: 100%;
    color: white;
    background-color: #89c3ff;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 15px;
}

.cart-messages p {
    margin: 5px;
    margin-left: 10px;
}

.cart-total-price {
    text-align: right;
}

#checkout-progress {
    display: inline-block;
    vertical-align: top;
}

.checkoutIn {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

#checkoutInner {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-bottom: 30px;
    margin-right: 10px;
}

#checkkout-method-content {
    font-size: 14px;
}

#checkout-login {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    width: 50%;
    font-size: 14px;
}

#checkout-list {
    display: inline-block;
    width: 30%;
}

.checkoutInner-title {
    color: #e82d2d;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.checkoutInner-title p {
    display: inline-block;
}

#checkoutInner-subtitle {
    font-weight: bold;
    margin-bottom: 10px;
}

#checkoutInner-radio-form {
    margin-top: 5px;
    margin-bottom: 15px;
}

#checkoutInner-radio-form p {
    display: block;
}

#checkoutInner-list {
    margin-top: 15px;
    margin-bottom: 10px;
}

#checkout-login-title {
    font-weight: bold;
}

#checkout-login-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#checkout-login-form-email label {
    font-weight: bold;
    margin-bottom: 10px;
}

#checkout-login-form-email input,
#checkout-login-form-password input{
    background-color: #faf9f9;
    height: 26px;
    border: none;
    width: 370px;
    border: 1px solid #dadada;
    border-color: #afafaf;
    box-shadow: 0 0 5px #afafaf;
}

.padding input{
    background-color: #faf9f9;
    height: 26px;
    border: none;
    width: 300px;
    border: 1px solid #dadada;
    border-color: #afafaf;
    box-shadow: 0 0 5px #afafaf;
}

#formRegister{
    
}

#checkout-login-form-password label {
    font-weight: bold;
}

#checkout-login-form input {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
}

#login-btn {
    margin-top: 15px;
    width: 80px;
    background-color: #e92e2e;
    height: 29px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#checkkout-method-content > button {
    margin-top: 15px;
    width: 80px;
    background-color: #e92e2e;
    height: 29px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.checkoutInner-Button {
    width: 180px;
    background-color: transparent;
    height: 29px;
    border: none;
    /*color: white;*/
    /*font-weight: bold;*/
    font-size: 14px;
    text-align: left;
}

.square {
    border: 1px solid grey;
    width: 25px;
    height: 20px;
    color: #afafaf;
    display: inline-block;
    text-align: center;
}

.square-title {
    border: 1px solid #e82d2d;
    width: 25px;
    text-align: center;
    height: 20px;
    color: #e92d2d;
    display: inline-block;
}

#checkout-list ul{
    list-style: none;
}

#checkout-list li{
    margin-bottom: 15px;
}

#checkout-list p {
    display: inline-block;
    color: #67686b;
}

.form-register md-content {
    background-color: inherit;
}

.form-register md-input-container > i {
    display: inline-block;
    font-size: 1em;
    width: 20%;
}

.form-register md-input-container > input {
    width: 80%;
    display: inline-block;

}

.button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

.search button {
    width: 80px;
    background-color: #e92e2e;
    height: 29px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.item-list button{
    font-size: 14px;
    height: 40px;
    width: 140px;
    border:none;
    box-shadow: 0 0 0 0.4px #3e3e3e, 0 -1px #3e3e3e inset;
}

.nameAuthor{
    text-align: center;
    margin-top: 20px;
}
