<footer>
    <!--Arnaud Couchet-->
    <div class="footerS">
        <p class="footer-title">About us</p>
        <div class="footerS-content">
            <p class="footerS-text-title">Lorem ipsum do amet</p>
            <p class="footerS-text">
                Morbi non neque et quam ultric san pulvinar erat, ut aliquet odio Cras mollis dictum elit, ut ultric ante et felis purus, at port</p>
        </div>
    </div>
    <div class="footerS">
        <p class="footer-title">Guarantee</p>
        <div class="footerS-content">
            <a href="/">Security</a>
            <a href="/">Quality</a>
            <a href="/">Support</a>
            <a href="/">Value for money</a>
        </div>
    </div>
    <div class="footerS">
        <p class="footer-title">Our support</p>
        <div class="footerS-content">
            <div class="footerS-need-help">
                <a href="/">Need help?</a>
            </div>
            <a href="/">FAQ</a>
            <a href="/">SMS Unsubscription</a>
            <a href="/">How to use Promo code?</a>
        </div>
    </div>
    <div class="footerS">
        <p class="footer-title">Shopping with us</p>
        <div class="footerS-content">
            <a href="/">Deliveries</a>
            <a href="/">Returns and refunds</a>
            <a href="/">Ordering help</a>
            <a href="/">Security and Privacy</a>
        </div>
    </div>
    <div class="footerS">
        <p class="footer-title">Delivery and return</p>
        <div class="footerS-content">
            <a href="/">Meet The Team</a>
            <a href="/">Press</a>
            <a href="/">Careers</a>
            <a href="/">Life @OpenDeal$</a>
        </div>
    </div>
    <div class="footerS">
        <p class="footer-title">Contact us</p>
        <div class="footerS-content">
            <a href="/">Meet the team</a>
            <a href="/">Press</a>
            <a href="/">Careers</a>
            <a href="/">Life @OpenDeal$</a>
        </div>
    </div>
    <img src="public/img/horizontalSeparatorBottom.png" alt="horizontalSeparatorBottom">
    <bottom-images></bottom-images>
    <div class="nameAuthor">Arnaud Couchet</div>
</footer>
