<header class="header" ng-controller="CountCtrl">
    <div class="headerMain">
        <div><p>CHAUSSURE</p></div>
    </div>
    <div class="headerC">

        <div class="header-links">
            <ul>
                <li><a href="/#/">Wish list (0)</a></li>
                <li><a href="/#/checkout">My Account</a></li>
                <li><a href="/#/checkout">Checkout</a></li>
                <li><a href="/#/">Select a language <i class="icon ion-chevron-down"></i></a></li>
            </ul>
        </div>
        <div class="header-user-container">
            <div class="headerS">
                <img src="public/img/phone.png" alt="phone">
                <div class="header-box-content">
                    <p class="header-box-title">(08)4123541214</p>
                    <span class="header-box-text"><a href="/#/">Support online</a></span>
                </div>
            </div>
            <img src="public/img/sep.png" alt="separator">
            <div class="header-account">
                <img src="public/img/account.png" alt="account">
                <div class="header-box-content">
                    <p class="header-box-title">MY ACCOUNT</p>
                    <span class="header-box-text">Welcome customer (<a href="/#/">log in</a>)</span>
                </div>
            </div>
            <img src="public/img/sep.png" alt="separator">
            <div class="header-cart">
                <img src="public/img/shop.png" alt="shop">
                <div class="header-cart-content">
                    <span class="cardNumber"><a href="/#/caddie">{{cartCount}}</a></span> <span class="cart-text">item(s)</span>
                </div>
            </div>
        </div>
    </div>
</header>
