<footer>
    <!--Arnaud Couchet-->


    <div class="footer-section">
        <p class="footer-title">About us</p>
        <div class="footer-section-content">
            <p class="footer-section-text-title">Lorem ipsum do amet</p>
            <p class="footer-section-text">
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.

            </p>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-title">Guarantee</p>
        <div class="footer-section-content">
            <a href="/">Security</a>
            <a href="/">Quality</a>
            <a href="/">Support</a>
            <a href="/">Value for money</a>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-title">Our support</p>
        <div class="footer-section-content">
            <a href="/">Need help</a>
            <a href="/">FAQ</a>
            <a href="/">SMS Unsubscription</a>
            <a href="/">How to use Promo code?</a>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-title">Our support</p>
        <div class="footer-section-content">
            <a href="/">Deliveries</a>
            <a href="/">Returns and refunds</a>
            <a href="/">Ordering help</a>
            <a href="/">Security and Privacy</a>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-title">Delivery and return</p>
        <div class="footer-section-content">
            <a href="/">Meet The Team</a>
            <a href="/">Press</a>
            <a href="/">Careers</a>
            <a href="/">Life @OpenDeal$</a>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-title">Contact us</p>
        <div class="footer-section-content">
            <a href="/">Meet the team</a>
            <a href="/">Press</a>
            <a href="/">Careers</a>
            <a href="/">Life @OpenDeal$</a>
        </div>
    </div>
</footer>
