<ariane-thread></ariane-thread>

<category-box></category-box>



<div class="content" ng-controller="ItemListCtrl">

  <div class="presentation-box">
    <div class="presentation-box-top">
      <p class="presentation-box-top-title">Vulputate adipiscing</p>
      <p class="presentation-box-top-text">
        <md-button ng-click="toggleHideOptions()">
          Hide Option
          <i class="icon ion-android-arrow-down"></i>
        </md-button>
      </p>
    </div>
    <div class="presentation-box-separation"></div>
    <div class="presentation-box-bottom" ng-hide="optionsHidden">
      <!--<i class="presentation-box-windows icon ion-ios-list-outline"></i>-->
      <img src="public/img/iconCat.png" alt="cat">
      
      
      <div class="presentation-box-controls">
        <div class="presentation-box-show">
          Show:
          <select>
            <option value="12">12 per page</option>
          </select>
        </div>
        <div class="presentation-box-sort">
          Sort by:

          <select ng-model="sortCriteria">
            <option ng-repeat="sort in sorts" ng-value="sort">{{sort}}</option>
          </select>

          <md-button ng-click="sortReverse = !sortReverse" class="sort-reverse">
            <i class="icon ion-android-arrow-up" ng-show="!sortReverse"></i>
            <i class="icon ion-android-arrow-down" ng-show="sortReverse"></i>
          </md-button>
        </div>
      </div>

    </div>
  </div>


  <div class="item-list">
    <div class="item" ng-repeat="item in items | orderBy:sortCriteria:sortReverse">
      <div class="item-img">
        <img ng-src="{{item.image}}" alt="item image">
        <md-button class="item-quick-shop-btn">QUICK SHOP</md-button>
      </div>
      <div class="item-info">
        <p class="item-info-text">{{item.name}}: {{item.description}}</p>
        <p class="item-info-price">{{item.price | currency}}</p>
      </div>
      <div class="item-controls">
        <md-button class="md-raised md-warn" ng-click="addToCart(item)">Add to cart</md-button>
        <div class="item-controls-icons">
          <a href="/"><img src="public/img/plus.png"  alt="plus"></a>
          <a href="/"><img src="public/img/download.png"  alt="download"></a>
        </div>
      </div>
    </div>
  </div>


</div>
